pyrogram>=2.0.106
tgcrypto
requests
pyromod>=2.1.0
cloudscraper
beautifulsoup4
aiohttp
aiofiles
yt-dlp
pycryptodome
PySocks
websockets
psutil
async-lru
pyaes
soupsieve
py-tgcalls
python-decouple
Flask
gunicorn
