pyrogram
tgcrypto
requests
pyromod==3.1.6
ffmpeg
mediainfo
cloudscraper
beautifulsoup4==4.12.2
aiohttp
aiofiles
yt-dlp
pycryptodome
PySocks
websockets
psutil
async-lru
pyaes
soupsieve
py-tgcalls
python-decouple
Flask
gunicorn
